.top-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li:hover{
    text-decoration: underline;
}

.l-left{
    float: left;
}

.top-link{
    display: block;
    padding: 8px;
    text-decoration: none;
    color:black;
}

.l-right{
    float:right;
}

.search {
    text-align: center;
    margin-top: 250px;
}

input[type=text]{
    border: solid silver;
    border-width: thin;
    border-radius: 20px;
    margin-top:30px;
    width: 540px;
    height: 40px;
    outline: none;
    text-align: left;
    padding-left: 40px;
    font-size: 18px;
}

.search-bar{
    transition: box-shadow .1s;
}

.search-bar:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.sicon{
    position: relative;
    left:40px;
    top: 8px;
    color: silver;
}

.buttons{
    text-align: center;
    position: relative;
    top:10px;
}

.g-button{
    background-color: #f8f9fa;
    display:inline-block;
    transition: all 0.1s;
    padding: 0;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    text-align: center;
    height: 40px;
    width: 125px;
    margin: 10px;
}

.g-button:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2);
    cursor: pointer; 
}

.bottom-bar{
    position: relative;
    top: 310px;
    color: rgba(0,0,0,.54);
    background-color: #f8f9fa;
    display: block;
}

.country{
    font-size: 16px;
    padding: 15px 48px;
}

.bottom-list{
    background-color: #f8f9fa;
    border-top: solid silver;
    border-width: thin;
    list-style-type: none;
    overflow: hidden;
    position: relative;
    top: 290px;
}

li:hover{
    text-decoration: underline;
}

.bl-left{
    float: left;
}

.bottom-link{
    display: block;
    padding: 8px;
    text-decoration: none;
    color: rgba(0,0,0,.54);
    font-size: 16px;
}

.bl-right{
    float:right;
}